html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: #FFF;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 77px;
    background-color: black;
    margin-bottom: 37px;
    position: fixed;
}

.inner-header {
    max-width: 1328px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos img:nth-child(1) {
    margin-right: 31px;
    margin-left: 5px;
}

text {
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 5px;
    cursor: pointer;
}

text:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    header {
        height: auto;
        padding: 7px 0;
        /*overflow-x: hidden;*/
    }

    .inner-header {
        flex-direction: row;
    }

    .logos {
        margin-bottom: 10px;
    }
}
.part1_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}
.text2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    padding-top: 30px;
}
.text{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.part2{
    justify-content: center;
}
.part2_text1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.scroll{
    width: 100%;
    height: 412px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.scroll {
    width: 344px;
    height: 338px;
    background-color: #FFF;
    position: absolute;
    transition: all 0.5s;
    border-radius: 15x;
}
.scroller #store{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.scroll #address{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-size: 20px;
    text-align: center;
    direction: ltr;
    color: #000000;
} 
.scroll #number{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: rgba(130, 123, 123, 0.31);
}
.scroll img {
    width: 344px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
}

.btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    transition: 0.3s;
    position: absolute;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}
.scroller {

    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    /*overflow: hidden;  !* <===  *!*/
    border-radius: 15px;
}
.part3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
}
.part3_btn{
    display: flex;
}
.part3_text1 .part3_text1 .text .btn_sub{
    display: flex;
    flex-direction: column;

}
.part3_text1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.part3_text2{
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    color: rgba(33, 33, 33, 0.513);
    justify-content: center;
}
.part3 input{
    width: 301px;
    height: 30px;
    background: #EFEFEF;
    border-radius: 10px;
    border: none;
    padding-left: 7px;
    font-size: 16px;
    font-weight: lighter;
}
.btn_sub{
    width: 181PX;
    height: 34px;
    border-radius: 10px;
    border: none;
    background: #000000;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: #D9D9D9;
    width: 100%;
    height: 100px;
    position: absolute;
}

.inner-footer {
    max-width: 1328px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info {
    font-size: 12px;
    color: black;
}

@media only screen and (max-width: 1000px) {
    .content {
        flex-direction: row;
        justify-content: center;
    }

    .product {
        width: 100%;
        margin-bottom: 15px;
    }

    .customizer {
        width: 60%;
        height: 500px;
    }

    footer {
        position: relative;
    }
    .inner-footer {
        max-width: 500px;
    }
}
